@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#disable {
  pointer-events: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url('../img/workspace-gd795f07aa_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #0009;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

/* .menu {
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 25px;
  right: 25px;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 2;
  cursor: pointer;
  pointer-events: all;
}

.menu:hover{
  box-shadow: 0 0 0 8px #fff, 0 0 0 8px #fff;
}

.hamburguer {
  position: relative;
  display: block;
  background: #000;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: .5s ease-in-out;
}

.hamburguer:before, 
.hamburguer:after {
  background: #000;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

input {
  display: none;
}

input:checked ~ ul {
  opacity: 1;
}

input:checked ~ label .menu {
  box-shadow: 0 0 0 130vw #fff, 0 0 0 130vh #fff;
}

input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
} */

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  opacity: 1;
  transition: 0.25s 0.1s cubic-bezier(0, 1.07, 0, 1.02);
  z-index: 2;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  margin-bottom: 20px;
  color: white;
  font-size: 47px;
  text-decoration: none;
}

li > a:hover {
  color: #0009;
}

li > a:active {
  color: #fff9;
}

main > a {
  position: absolute;
  top: 94%;
  left: 94%;
  transform: translate(-50%, -50%);
  font: bolder 24px 'Montserrat', sans-serif;
  color: #fff;
  background-color: transparent;
  margin: 4px 0px;
  cursor: pointer;
}