@charset "UTF-8";  
 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url('../img/laptop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #0009;
  background-blend-mode: darken, luminosity;
  backdrop-filter: blur(3px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

/* .titulo {
  display: grid;
  grid-template-columns: 2;
  gap: 10px;
} */

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  gap: 30px;
} */

h1 {
  font: 400 clamp(2.2rem, 6vw, 6.5rem) 'Montserrat', sans-serif;
  font-size: 2.75rem;
  color: white;
}

h1:hover {
  color: gray;
  cursor: pointer;
}

/* p {
  font: italic 400 clamp(1.2rem, 4vw, 3rem) 'Montserrat', sans-serif;
  color: white;
} */

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  margin-bottom: 20px;
  color: white;
  font-size: 47px;
  text-decoration: none;
}

.home {
  position: absolute;
  top: 94%;
  left: 90%;
  transform: translate(-50%, -50%);
  font: bolder 24px 'Montserrat', sans-serif;
  color: #fff;
  background-color: transparent;
  margin: 4px 0px;
  cursor: pointer;
}